
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');
body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
.red{
	color: #f33f3f;
}
.white{
	color: white;
}
/*navbar css*/
header{
	position: sticky;
	top: 0;
}
.navbar{
	display: flex;
	background-color: black;
	align-items: center;
	justify-content: space-between;
	padding: 0px 100px;
}
.navbar ul {
	list-style-type: none;
	display: flex;
}
.navbar ul li{
	margin-left: 20px;
}
.navbar ul li a{
	position: relative;
	padding: 20px 20px;
}
.active{
	position: relative;
}
.navbar ul li  a::before{
	content: "";
	position: absolute;
	width: 0%;
	background-color: #f33f3f;
	height: 3px;
	bottom: 0;
	right: 0;
	transition: 0.5s;
}
.navbar ul li a:hover::before{
	width: 100%;
	left: 0;
}
.active::before{
	content: "";
	position: absolute;
	width: 100%;
	background-color: #f33f3f;
	height: 3px;
	bottom: 0;
	right: 0;
	transition: 0.5s;
}

/*banner css*/
.banner{
	padding: 180px 100px;
	background-image: url("../images/bg-section.jpg");
}
.banner div {
	text-align: center;
}
.banner div h1{
	font-size: 60px;
}
/*product section css*/
.product{
	padding: 50px 100px;
}
.section-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid gray;
}
.section-heading h1{
	font-size: 40px;
	margin: 0;
}
/*product item css*/
.product-main{
	display: flex;
	justify-content: space-between;
}
.product-item{
	width: 30%;
	border:1px solid gray;
	border-radius: 10px;
	margin: 50px 0px;
	box-shadow: 2px 2px 10px gray;
}
.product-item img{
	border-radius: 10px 10px 0px 0px;
}
.flex-box{
	display: flex;
	justify-content: space-between;
}
.product-inner{
	padding: 20px;
}
.flex-box h3{
	margin: 0;
}
.flex-box ul{
	display: flex;
	list-style-type: none;
	padding: 0;
}
.flex-box ul li{
	margin-right: 5px;
}
.flex-box button{
	background-color: white;
	border:1px solid #f33f3f;
	padding: 0px 15px;
	color: #f33f3f;
	border-radius: 8px;
}
.flex-box button:hover{
	background-color: #f33f3f;
	color: white;
}
/*about css*/
.about{
	padding: 50px 100px;
}
.about-main{
	display: flex;
	justify-content: space-between;
}
.about-text{
	width: 50%;
	padding-top: 50px;
	padding-right: 10px;
}
.about-img{
	padding-top: 50px;
}
.about-text h2{
	color: #013f8b;
}
.about-text ul{
	padding-left: 18px;
}
.about-btn{
	padding: 15px 25px;
	border:none;
	background-color: #f33f3f;
	border-radius: 8px;
	color: white;
}
.about-btn:hover{
	background-color: white;
	border:1px solid  #f33f3f;
	color:  #f33f3f;
}
/*footer css*/
footer{
	padding: 30px 100px;
	text-align: center;
	border-top: 1px solid lightgray;
}
footer p{
	margin: 0;
}
